.ViewTransactions {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-left: 20px;
}


td {
    border: none;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
}

table {
    margin: auto;
    padding-top: 50px;
}

.viewHeading {
    font-weight: 500;
    font-size: x-large;
    color: rgb(84, 84, 84);
    text-align: center;
}