.connect-wallet {
  text-align: center;
  padding: 60px;
  padding-bottom: 235px;
  line-height: 33px;
  margin: 8px;
}

.walletTitle {
  font-size: 45px;
  color: white;
}

.connect-wallet-child {
  padding: 15px;
  margin: 25px;
}
.connect-wallet-child button {
  background-color: white;
  border: 2px solid white;
  border-radius: 5%;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}

.connect-wallet-child button:hover {
  background-image: linear-gradient(to right, #f9ceee, #b1bce6);
  border-color: black;
  color: white;
}
